<app-layout>

  <ng-form class="body">
    <div class="container">
      <header>Personal Declaration &nbsp; व्यक्तिगत घोषणा</header>

      <div class="form first">
        <div class="details personal">
          <div>
            <form [formGroup]="form">
              <ng-container formArrayName="declaration" *ngFor="let dec of declaration.controls;let u=index;">

                <mat-accordion>

                  <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false" class="mt-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <!-- {{a.keys(a).length}} -->
                      </mat-panel-title>
                      <mat-panel-description>
                        Insured Person: {{insureddata[u].insuredname}}
                      </mat-panel-description>

                    </mat-expansion-panel-header>

                    <div class="row mt-2">



                      <div [formGroupName]="u">
                        <!-- one -->

                        <div id="rcorners3" style="width: 100%;">

                          <div class="input-field">
                            <section class="example-section m-2">
                              <input type="hidden" formControlName="question1_id">
                              <mat-checkbox class="example-margin" formControlName="question1_answer">
                                {{pedrecord[0]?.question_detail}} <br> {{pedrecord[0]?.lang_one}}

                              </mat-checkbox>
                              <input type="hidden" formControlName="insuredid">


                            </section>
                          </div>

                          <div class="input-field" *ngIf="dec.controls['question1_answer'].value==true">
                            <section class="example-section m-2">
                              {{pedrecord[1]?.question_detail}}
                              <input type="hidden" formControlName="question2_id">
                              <input type="text" value="Details of Dieses" formControlName="question2_answer"
                                class="w-75">
                            </section>
                          </div>



                        </div>
                        <!-- two -->
                        <div id="rcorners3" style="width: 100%;" *ngIf="insureddata[u].insuredgender=='female'">
                          <div class="input-field">
                            <section class="example-section m-2">
                              <input type="hidden" formControlName="question3_id">
                              <mat-checkbox class="example-margin" formControlName="question3_answer">
                                {{pedrecord[2]?.question_detail}} &nbsp; {{pedrecord[2]?.lang_one}}
                              </mat-checkbox>

                            </section>
                          </div>

                          <div class="input-field" *ngIf="dec.controls['question3_answer'].value==true">
                            <section class="example-section m-2">
                              <input type="hidden" formControlName="question4_id">
                              {{pedrecord[3]?.question_detail}} <input type="number" max="9" min="0" value=""
                                formControlName="question4_answer">
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>


                  </mat-expansion-panel>



                </mat-accordion>
              </ng-container>
            </form>
          </div>
          <button class="button1 mt-3" style="border-radius: 7px;" (click)="save()">Submit</button>


        </div>


      </div>










    </div>

  </ng-form>





</app-layout>